<div id="<%= dom_id place %>">
  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= place.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= place.longitude %>
  </p>

  <p>
    <strong>Dates:</strong>
    <%= place.dates %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= place.comments %>
  </p>

  <p>
    <strong>Rating landscape:</strong>
    <%= place.rating_landscape %>
  </p>

  <p>
    <strong>Rating people:</strong>
    <%= place.rating_people %>
  </p>

  <p>
    <strong>Rating food:</strong>
    <%= place.rating_food %>
  </p>

</div>
